.header_parent {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 10px;
}

.navbar>ul {
    display: flex;
    gap: 10px;
}

.navbar>ul>li {
    list-style: none;
    cursor: pointer;
}

Link{
    text-decoration: none;
}

a{
    text-decoration: none;
}